SHADOWLARK_TRUST_ED25519_HEX=replace_with_comma_separated_64_hex_ed25519_public_keys
SHADOWLARK_IDENTITY_ED25519_SEED_HEX=replace_with_64_hex_ed25519_seed
SHADOWLARK_IDENTITY_X25519_PRIVATE_HEX=replace_with_64_hex_x25519_private_key
SHADOWLARK_IDENTITY_KEY_ID=shadowlark-go-local
SHADOWLARK_IDENTITY_VALIDITY_S=86400
